$breakpoints: (
    tablet_max-width: 1024px,
    phone_max-width: 480px,
);

//manager for screen tablets
@mixin tablet {
    @media screen and (max-width: map-get($breakpoints, tablet_max-width)) {
        @content;
    }
}


//manager for mobile tablets
@mixin mobile {
    @media screen and (max-width: map-get($breakpoints, phone_max-width)) {
        @content;
    }
}

* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    font-family: "Ysabeau Office", sans-serif;
    //border: 1px solid blue;
    padding-top: 10px;

    @include tablet {
        padding-bottom: 30px;
    }

    @include mobile {
        padding-bottom: 0;
    }
}


.enterprise-info {
    //border: 1px solid;
    text-align: center;

    .title {
        //border: 1px solid;

        h1 {
            //border: 1px dashed  blue;
            width: 300px;
            margin: auto;

            img {
                width: 40%;
                height: 40%;

                @include mobile {
                    width: 30%;
                    height: 30%;
                }
            }
        }

        h2 {
            letter-spacing: 2px;
            margin-top: -10px;

            @include mobile {
                letter-spacing: 0;
            }

            span {
                color: #00C851;
            }
        }
    }

    .text {
        //border: 1px solid red;
        width: 80%;
        margin: 30px auto;

        @include tablet {
            width: 95%;
        }

        p {
            font-weight: bold;
            font-size: 1.1em;
            line-height: 30px;
            //text-align: justify;
        }
    }

}


hr {
    border: none;
    border-top: 2px solid #5cd2c6;
    width: 30%;
    margin: 60px auto 0 auto;

    @include tablet {
        margin-bottom: 20px;
        width: 40%;
    }
}


.user-suggestions {
    //border: 1px solid red;
    display: flex;
    width: 63%;
    margin: auto;
    padding-top: 80px;

    @include mobile {
        padding-bottom: 20px;
    }

    @include tablet {
        flex-direction: column;
        width: 95%;
        padding-top: 10px;
    }

    article:first-child {
        //border: 1px solid blue;
        width: 58%;

        @include tablet {
            width: 100%;
            box-sizing: border-box;
        }

        h1 {
            font-size: 2.5em;

            @include tablet {
                text-align: center;
            }

            @include mobile {
                font-size: 2em;
            }
        }

        p {
            font-size: 1.05em;
            margin-top: 25px;
            color: grey;

            @include tablet {
                text-align: center;
            }

            @include mobile {
                font-weight: bold;
                color: rgba(128, 128, 128, 0.71);
            }
        }

        .img {
            width: 90%;
            margin-top: 15px;
            color: #5CD2C6;

            @include tablet {
                display: none;
            }

            img {
                width: 100%;
            }
        }
    }

    article:last-child {
        //border: 1px solid yellow;
        width: 42%;
        z-index: 9999;
        //background-color: #FFFFFF;
        padding-top: 10px;

        @include tablet  {
            width: 100%;
            box-sizing: border-box;
        }

        .error {
            color: red;
            text-align: center;
            margin-bottom: 15px;
        }

        .inputs-block {
            display: grid;
            grid-template-columns: 1fr;
            gap: 15px;

            div {
                //border: 1px solid red;
            }

            input, textarea {
                width: 100%;
                box-sizing: border-box;
                border-radius: 3px;
                outline: none;
                border: none;
                background-color: rgba(182, 182, 182, 0.2);
                font-family: "Ysabeau Office", sans-serif;
            }

            input {
                height: 45px;
                font-size: 1em;
                padding-left: 7px;
                font-weight: bold;
            }

            textarea {
                height: 150px;
                font-size: 1.1em;
                padding-left: 7px;
                padding-top: 5px;
                font-weight: bold;
            }
        }

        .btn {
            //border: 1px solid;
            margin-top: 25px;

            button {
                height: 40px;
                width: 100%;
                font-size: 1em;
                background-color: #001019;
                color: #FEFEFE;
                border: none;
                border-radius: 3px;
                font-family: "Ysabeau Office", sans-serif;
                cursor: pointer;
            }
        }
    }
}